# personal config
.env

# folder
input/*
!input/.gitkeep
result/*
!result/.gitkeep
log/*
!log/.gitkeep
keys/*
!keys/.gitkeep

# python
__pycache__/
**/__pycache__/

*.py[cod]
*$py.class
